<%= form_with(model: prescription, class: "space-y-8 divide-y divide-gray-200") do |f| %>
  <%= render "shared/error_messages", resource: prescription %>

  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <%= render "prescriptions/form/patient_doctor_section", f: f, patients: @patients, doctors: @doctors %>
    <%= render "prescriptions/form/medications_section", f: f, medications: medications, dosages: dosages %>
  </div>

  <%= render "shared/form_actions", cancel_path: prescriptions_path, f: f %>
<% end %>
