<% page_headers = ['Name', 'Unit Price', 'Available Dosages', 'Frequencies', 'Actions'] %>

<div class="flex justify-between items-center mb-6">
  <h1 class="font-bold text-xl text-gray-800">Medications Library</h1>
</div>

<div class="rounded-lg overflow-hidden">
  <div class="border border-gray-200 rounded-lg p-4">
    <div class="w-full overflow-x-auto">
      <%# Headers %>
      <div class="min-w-full grid grid-cols-5 gap-2 sm:gap-4 mb-4 bg-gray-50">
        <% page_headers.each do |header| %>
          <div class="text-center font-bold bg-gray-50">
            <div class="px-2 sm:px-4 py-1 sm:py-2 bg-gray-50 rounded text-sm sm:text-base whitespace-nowrap">
              <%= header %>
            </div>
          </div>
        <% end %>
      </div>

      <%# Medications List %>
      <div class="space-y-2">
        <% @medications.each do |medication| %>
          <div class="grid grid-cols-5 gap-2 sm:gap-4 bg-white p-2 rounded-lg border border-gray-100 items-center">
            <%# Name %>
            <div class="px-2 sm:px-4 text-sm sm:text-base">
              <%= medication.name %>
            </div>

            <%# Unit Price %>
            <div class="px-2 sm:px-4 text-sm sm:text-base text-center">
              <%= number_to_currency(medication.unit_price) %>
            </div>

            <%# Available Dosages %>
            <div class="px-2 sm:px-4 text-sm sm:text-base text-center">
              <%= medication.dosages.map(&:amount).join(", ") %>
            </div>

            <%# Frequencies %>
            <div class="px-2 sm:px-4 text-sm sm:text-base text-center">
              <%= medication.dosages.map(&:frequency).uniq.join(", ") %>
            </div>

            <%# Actions %>
            <div class="px-2 sm:px-4 text-center flex justify-center space-x-2">
              <%= link_to medication_path(medication), 
                  class: "text-blue-500 hover:text-blue-700" do %>
                <i class="fas fa-eye"></i>
              <% end %>
              <%= link_to edit_medication_path(medication), 
                  class: "text-gray-500 hover:text-gray-700" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

