<div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-xl text-gray-800"><%= @medication.name %></h1>
    
    <div class="flex space-x-4">
      <%= link_to 'Back to Medications', 
          medications_path, 
          class: "bg-transparent font-semibold py-2 px-4 border border-gray-500 text-gray-500 rounded-full" %>
    </div>
  </div>
  
  <div class="rounded-lg overflow-hidden">
    <div class="border border-gray-200 rounded-lg p-4">
      <%# Medication Details %>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <div class="p-4 border border-gray-200 rounded-lg">
          <h3 class="font-semibold mb-4">Basic Information</h3>
          <div class="space-y-2">
            <div class="flex justify-between">
              <span class="text-gray-600">Name:</span>
              <span class="font-medium"><%= @medication.name %></span>
            </div>
            <div class="flex justify-between">
              <span class="text-gray-600">Unit Price:</span>
              <span class="font-medium"><%= number_to_currency(@medication.unit_price) %></span>
            </div>
          </div>
        </div>
  
        <div class="p-4 border border-gray-200 rounded-lg">
          <h3 class="font-semibold mb-4">Available Dosages</h3>
          <div class="space-y-2">
            <% @medication.dosages.each do |dosage| %>
              <div class="flex justify-between items-center p-2 bg-gray-50 rounded">
                <span class="font-medium"><%= dosage.amount %></span>
                <span class="text-gray-600"><%= dosage.frequency %></span>
                <span class="text-sm text-gray-500">Default: <%= dosage.default_duration %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  