<div class="prescription-item sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
  <%= f.hidden_field :_destroy %>
  
  <div class="sm:col-span-3 grid grid-cols-12 gap-4">
    <div class="col-span-4">
      <%= f.label :medication_id, class: "block text-sm font-medium text-gray-700" %>
      <%= f.collection_select :medication_id, Medication.all, :id, :name_with_price, 
          { 
              prompt: "Select medication",
              selected: f.object.medication_id || params[:medication_id]
          },
          { 
              class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm",
              data: { action: "change->prescription-items#loadDosages" }
          }
      %>
    </div>

    <div class="col-span-2">
      <% dosages = f.object.medication&.dosages || dosages %>
        <%= f.label :dosage_id, class: "block text-sm font-medium text-gray-700" %>
        <%= f.collection_select :dosage_id, dosages, :id, :frequency_description, 
          { include_blank: "Select dosage" },
          { 
            class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm",
            data: { 'prescription-items-target': "dosageSelect", action: "change->prescription-items#recalculatePrice" }
          }
        %>
    </div>

    <div class="col-span-2">
      <%= f.label :duration, class: "block text-sm font-medium text-gray-700" %>
      <%= f.number_field :duration, 
        class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm",
        data: {
          action: "input->prescription-items#recalculatePrice change->prescription-items#recalculatePrice"
        }
      %>
    </div>

    <div class="col-span-2">
      <label class="block text-sm font-medium text-gray-700">&nbsp;</label>
      <button type="button"
              data-action="prescription-items#removeItem"
              class="mt-1 inline-flex items-center rounded-md border border-transparent text-sm font-medium text-red-700 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
</div>
